<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @primary_color.name %>
</p>

<p>
  <strong>Hash code:</strong>
  <%= @primary_color.hash_code %>
</p>



<%= link_to 'Edit', edit_primary_color_path(@primary_color) %> |
<%= link_to 'Back', primary_colors_path %>
